{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your EyeHealth 20-20-20 account.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, please ignore this email. Your password will remain unchanged.

This link will expire in 24 hours for security reasons.

Thanks,
The EyeHealth 20-20-20 Team

---
If you're having trouble clicking the link above, copy and paste this URL into your browser:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endautoescape %}